<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Wineteam</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" href="./css/twilight.css">
  <!-- <link rel="stylesheet" href="./css/projects.min.css">  -->
  <link rel="stylesheet" href="./css/taggle.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
  <script src="https://kit.fontawesome.com/7da7bccd11.js" crossorigin="anonymous"></script>
  <script src="./js/taggle.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <script src="lib/chart-master/Chart.js"></script>
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>WINE<span>TEAM</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">

          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 5 new messages</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span>
                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span>
                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 7 new notifications</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Admin</h5>
          <li class="mt">
            <a  href="dashboard.html">
              <i class="fa fa-dashboard"></i>
              <span>Bảng điều khiển</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
             <i class="fas fa-book-open"></i>
              <span>Danh mục</span>
              </a>
            <ul class="sub">
              <li><a href="mng-category-product.html">Danh mục sản phẩm</a></li>
              <li><a href="mng-category-post.html">Danh mục bài viết</a></li>
          
            </ul>
          </li>
          <li>
            <a  href="mng-product.html">
              <i class="fas fa-wine-bottle"></i>
              <span>Sản phẩm </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-newspaper"></i>
              <span>Bài viết </span>
            </a>
          </li>
          <li>
            <a href="mng-coupon.html">
              <i class="fas fa-credit-card"></i>
              <span>Mã giảm giá </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-comment"></i>
              <span>Bình luận </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-plus"></i>
              <span>Đặc tính </span>
            </a>
          </li>
          <li>
            
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span>Mail </span>
              <span class="label label-theme pull-right mail-info">2</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-file-invoice-dollar"></i>
              <span>Đơn hàng </span>
            </a>
          </li>
          <li>
            <a class="active" href="#">
              <i class="fa fa-users"></i>
              <span>Tài khoản</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-language"></i>
              <span>Ngôn ngữ </span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                     <h4>Sửa tài khoản</h4>                                       
                  </div>

                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label for="nameProduct">Tên người dùng</label>
                        <input type="text" class="form-control" id="nameProduct" value="anh nguyen" placeholder="Nhập tên người dùng">
                      </div>
                      <div class="form-group">
                        <label for="nameProduct">Mật khẩu</label>
                        <input type="password" value="hoaianh0120" class="form-control" id="nameProduct" placeholder="Nhập mật khẩu">
                      </div>
                      <div class="form-group">
                        <label for="nameProduct">Email</label>
                        <input type="email" value="anh@gmail.com" class="form-control" id="nameProduct" placeholder="Nhập email">
                      </div>
                      <div class="form-group">
                        <label for="nameProduct">Số điện thoại</label>
                        <input type="number" value="09838274" class="form-control" id="nameProduct" placeholder="Nhập số điện thoại">
                      </div>
                      <div class="form-group">
                        <label for="nameProduct">Địa chỉ</label>
                        <input type="text" value="117-119 Lý Chính Thắng, phường 7, Quận 3, Thành phố Hồ Chí Minh" class="form-control" id="nameProduct" placeholder="Nhập địa chỉ">
                      </div>
                     
                      <div class="form-group">
                        <label for="roles">Chọn quyền</label>
                        <select class="form-control" id="roles">
                          <option>Quản lí danh mục</option>
                          <option>Quản lí sản phẩm</option>
                          <option selected>Khách hàng</option>
                        </select>
                      </div>
                     
                      <button class="btn btn-success" type="submit">Thêm</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Wineteam</strong>. All Rights Reserved
        </p>
        <div class="credits">

        </div>
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>

  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/jquery.scrollTo.min.js"></script>
  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="lib/common-scripts.js"></script>
  <script type="text/javascript" src="lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="lib/sparkline-chart.js"></script>
  <script src="lib/zabuto_calendar.js"></script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

  <script>
      $(document).ready(function () {
          CKEDITOR.replace('details');

          $('#categories').select2({
              placeholder: "Select categories"
          })
          function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                      $('#showimage').attr('src', e.target.result);
                  }

                  reader.readAsDataURL(input.files[0]); // convert to base64 string
              }
          }

          $("#image_url").change(function() {
              readURL(this);
          });
      });
  </script>
  <script>
    new Taggle('tags',{
    allowDuplicates: true,
    });
  </script>
</body>

</html>
