.cart-page{
  /* Style the list */
  ul.breadcrumb-page {
    padding: 10px 16px;
    list-style: none;
  }

  /* Display list items side by side */
  ul.breadcrumb-page li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb-page li+li:before {
    padding: 8px;
    color: #787567;
    content: "/\00a0";
  }
  ul.breadcrumb-page li[aria-current="page"]{
    color: #787567;
  }
  /* Add a color to all links inside the list */
  ul.breadcrumb-page li a {
    color: #CBA476;
    text-decoration: none;
  }
}
