.product-page{
  .banner-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
     background-image: url('../images/product/title_bg-product.jpg');
     background-position: center;
     background-size:cover ;
  }
  .title-page{
    color: #ffffff;
    font-size: 54px;
  }
    /* Style the list */
    ul.breadcrumb-page {
      padding: 10px 16px;
      list-style: none;
    }

    /* Display list items side by side */
    ul.breadcrumb-page li {
      display: inline;
      font-size: 18px;
    }

    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb-page li+li:before {
      padding: 8px;
      color: #787567;
      content: "/\00a0";
    }
    ul.breadcrumb-page li[aria-current="page"]{
      color: #787567;
    }
    /* Add a color to all links inside the list */
    ul.breadcrumb-page li a {
      color: #CBA476;
      text-decoration: none;
    }
.boxSelect select {
  border: 1px solid #bdb68e;
  font-size: 12px;
}
.boxSelect option {
  font-size: 12px;
}
.productItem__content {
  width: auto;
  padding: 50px 10px;
  background-image: url('../images/audio_bg.jpg');
}
.productItem__content p:nth-child(2) {
  padding-top: 10px;
  font-size: 14px;
  color: #a3a39f;
}
.productItem__content p:nth-child(5) {
  font-size: 20px;
  color: #da3f19;
}
.productItem__content button {
  background-color: #c7b7b1;
  border: 1px solid #c7b7b1;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 12px;
  transition: background-color 2s;
}
.productItem__content button:hover {
  background-color: red;
}
.productCategories__list {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  letter-spacing: 2px;
}
.productCategories__list a {
  color: #787567;
  transition: color 2s;
}
.productCategories__list a:hover {
  color: #da3f19;
}
.productCategories__list i {
  font-size: 17px !important;
  color: #da3f19;
}
.productList__item {
  background-image: url('../images/audio_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productList__item img {
  width: 60px;
}
.tagList span {
  border: 1px solid #bdb68e;
  padding: 10px 10px;
}
.tagclound a{
  padding: 3px 8px;
  border: 1px solid #CBA476;
  background: #ffffff;
  display: inline-block;
  margin: 2px 1px;
  color: #000000;
  font-size: 12px;
  transition: all ease 0.3s;
}
  .form-search{
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
  }
  input[name="searching"]{
    padding: 6px 8px;
    border: 1px solid #BDB68E;
    font-size: 14px;
    outline: none;
    width: 100%;
    transition: 0.5s;
  }
  .form-search button[type="submit"]{
    position: absolute;
    top: 50%;
    right: 12px;
    border: none;
    background: transparent;
    margin-top: -0.5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    z-index: 0;
    /* pointer-events: none; */
    cursor: pointer;
  }
  .form-search input[name="searching"]:focus{
    background: #FCFAF8;
    border: 1px solid transparent;
  }

.tagclound a:hover{
  background: #e74c3c;
  color: white;
}
.List-editor{
  margin-top: 20px;
  width: 100%;
  height: 5px;
}
@media screen and (max-width: 750px){
  .List-Left {
    float: left !important;
  }
}
}
