
  .form-search{
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
input[name="searching"]{
  padding: 6px 8px;
  border: 1px solid #BDB68E;
  font-size: 14px;
  outline: none;
  width: 100%;
  transition: 0.5s;
}
.form-search button[type="submit"]{
  position: absolute;
  top: 50%;
  right: 12px;
  border: none;
  background: transparent;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  z-index: 0;
  /* pointer-events: none; */
  cursor: pointer;
}
.form-search input[name="searching"]:focus{
  background: #FCFAF8;
  border: 1px solid transparent;
}
