@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?68607500');
  src: url('../font/fontello.eot?68607500#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?68607500') format('woff2'),
       url('../font/fontello.woff?68607500') format('woff'),
       url('../font/fontello.ttf?68607500') format('truetype'),
       url('../font/fontello.svg?68607500#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family: Forum;src: url("../fonts/Forum-Regular.ttf")}
@font-face {font-family: Lora;src: url("../fonts/Lora-Regular.ttf")}