body {
  box-sizing: border-box;
}
.boxSelect select {
  border: 1px solid #bdb68e;
  font-size: 12px;
}
.boxSelect option {
  font-size: 12px;
}
.productItem__content p:nth-child(2) {
  padding-top: 10px;
  font-size: 14px;
  color: #a3a39f;
}
.productItem__content p:nth-child(5) {
  font-size: 20px;
  color: #da3f19;
}
.productItem__content button {
  background-color: #c7b7b1;
  border: 1px solid #c7b7b1;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 12px;
  transition: background-color 2s;
}
.productItem__content button:hover {
  background-color: red;
}
.productCategories__list {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  letter-spacing: 2px;
}
.productCategories__list a {
  color: #787567;
  transition: color 2s;
}
.productCategories__list a:hover {
  color: #da3f19;
}
.productCategories__list i {
  font-size: 17px !important;
  color: #da3f19;
}
.productList__item {
  background-image: url(../images/audio_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productList__item img {
  width: 60px;
}
.tagList span {
  border: 1px solid #bdb68e;
  padding: 10px 10px;
}
.List-editor{
  margin-top: 20px;
  width: 100%;
  height: 5px;
}
@media screen and (max-width: 750px){
  .List-Left {
    float: left !important;
  }
}
